<%- include("partials/header.ejs") %>
    <!--Title-->
    <div class="blog1">
        <section id="title" class="pageTitle">
            <div class="container">
              <h1>How I <span id="feel">feel</span> now</h1>
            </div>
          </section>
          <section class="express">
            <div class="main lettingGo">
              <p class="lettingGo">
                My journey from living my life on a high note to just trying to get
                back to where I was a year ago knowing full well that even if some
                aspects improved, some other aspects are very hard to get better...
                changing my POV might help? I REALLY DON'T KNOW HOW TO BE HAPPY AGAIN.
              </p>
              <p>
                That's a big issue for me because I need to stay positive at least for
                the rest of this year to achieve something, Anything and not just for
                me, for my family too.
              </p>
              <p>
                This is a transitional period for all of us, my life will change
                forever (again for the… I lost count, really let’s try to see in
                general, there’s the major points:
              </p>
              <ol class="lifeChangingMoments">
                <li>Point where mum died.</li>
                <li>When I shifted my career to testing in 2018.</li>
                <li>When I decided to get married.</li>
                <li>When we traveled to Germany.</li>
                <li>When we decided to have children.</li>
                <li>
                  When we found out that she’s deaf and I lost my job and became
                  extremely fed-up with testing as a career.
                </li>
                <li>
                  (In progress…) What’s going to change again with me shifting to
                  frontend (did I make a good decision? Was it the right time? Should
                  I’ve focused my time on starting a business instead? Will I be able
                  to focus on running a startup business taking into consideration all
                  other factors?) while doing the surgery for my daughter, while
                  searching for a job, while rehabilitation for my daughter, while
                  looking for a bigger apartment while trying to buy a car here.
                </li>
              </ol>
              <p>
                But I’m actually really sad and just want to cry because I keep asking
                myself WHY and what happened!! How can all of this happen in just a
                couple months it all happened so fast, last August I was driving a
                tesla in a eurotrip to Munich with my wife and daughter and 2 months
                later I’m unemployed, my daughter is deaf, I need to change apartments
                to a bigger one but I can’t, I need to lease a car but I can’t, I need
                to find a good Kita but I can’t…
              </p>
            </div>
          </section>
    </div>
    
   <%- include("partials/footer.ejs") %>
  </body>
</html>